@{
    ViewBag.Title = "_AccountModal";
}

<form>
    <div class="form-group">
        <label>IP</label>
        <input type="text" class="form-control" id="ip" placeholder="Enter IP">
    </div>
    <div class="form-group">
        <label>OS</label>
        <input type="text" class="form-control" id="os" placeholder="Enter OS">
    </div>
    <div class="form-group">
        <label>Country</label>
        <input type="text" class="form-control" id="country" placeholder="Enter Country">
    </div>
    <div class="form-group">
        <label>Binary</label>
        <input type="text" class="form-control" id="binary" placeholder="Enter Binary">
    </div>
</form>
